# SPDX-FileCopyrightText: 2024-2025 Helmholtz-Zentrum hereon GmbH
# SPDX-FileContributor: Carsten Lemmen <carsten.lemmen@hereon.de>
# SPDX-License-Identifier: CC0-1.0

sphinx-design
git+https://codebase.helmholtz.cloud/hcdc/hereon-netcdf/sphinxext.git
